body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #ffff;
  padding: 20px;
}

.list-items{
  list-style: none;
  display: flex;
  /* padding: 20px; */
  margin: 0;
  width: 95%;
  margin:  auto;
  justify-content: space-between;
}

.listItem{
  padding: 0px 18px;
  margin: 0px 10px;
  cursor: pointer;
}
.listItem p{
  margin: 0;
  text-align: center;
  color:#818A9B;
  font-weight: 500;
}
.searchfield1{
  width: 53%;
  margin-left: 2%;
}

.list-items .partner {
  display: flex;
  width: 115px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
}
.list-items .partner img {
  width: 45px;
  height: 38px;
}
.user-cart img{
  width: 32px;
}
.searchfield1 input{
  width: 94%;
  padding: 14px;
  font-size: 16px;
  background-color: #F6F8FA;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.searchfield1 input:focus{
  outline: none;
} 
.searchfield2 input{
  width: 94%;
  padding: 14px;
  font-size: 16px;
  background-color: #F6F8FA;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px auto 0px;
  display: none;
}
.searchfield2 input:focus{
  outline: none;
}
main{
  position: relative;
  top: 0px;
}

@media screen and (max-width: 960px) {
  .navbar {
    z-index: 1;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .list-items{
    width: 100%;
    padding: 0;
  }
  .searchfield1{
    display: none;
  }
  .searchfield2 input{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  
  .listItem {
    padding: 0;
  }
  .searchfield1{
    display: none;
  }
  .searchfield2 input{
    display: block;
  }
  .handshake{
    display: none;
  }
}
.aside{
  width: 36%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: sticky;
  top: 68px;
  height: 100vh;
}
.aside::-webkit-scrollbar{
  width: 8px;
}

/* Track - whether this scrollbar is scroll*/
.aside::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px gray;
  border-radius: 8px;
}

/* Handle - scrollbar inside thumb scrolling*/
.aside::-webkit-scrollbar-thumb{
  background-color: #233750;
  border-radius: 10px;
}


.categories {
  border-bottom: 2px solid #fff;
  padding: 20px;
  background: #C2CCDF;
  color: #233750;
  font-weight: 500;
}

.categoriesContainer{
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
.categoriesContainer li{
  border-bottom: 1px solid lightgray;
  font-weight: 500;
  background-color: #f8f8f9;
}
.categoriesContainer li a {
  text-decoration: none;
  color: #233750; 
  text-align: center;
  padding: 20px 10px;
  background-color: #C2CCDF1F;
  box-shadow: rgb(0 0 0 / 16%) -2px 1px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside div p{
  margin: 0;
}

/* main */
.wardrobe .box{
  width: 29.2vw;
  height: 29.2vw;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #233750;
  padding: 2%;
  margin: 10px 0px 10px ;
}

.boxContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.productDescription .header{
  color: #233750;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 14px 0;
}
.header::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FF6200;
  margin-left: 15px;
}

.wardrobe .box .imgContainer {
  width: 50%;
  margin: 5px auto;
}
.wardrobe .box .imgContainer img{
  width: 100%;
  /* margin-top: 20px; */
  vertical-align: bottom;
}
*,::after, ::before{
  box-sizing: border-box;
}

.footer {
  background-color: #EDF2FB;
}
.footerHeader{
  /* background-color: #EDF2FB; */
  padding: 2% 14%;
}

.footerHeader .mobile{
  height: 278px;
  width: 140px;
}
.footerContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footerDescription{
  width: 60%;
  display: flex;
  flex-direction: column;
  color: #243750;
  padding-left: 3rem;
}
.footerDescription h1{
  font-size: 38px;
}

.footerDescription img{
  height: 47px;
  width: 144px;
}
.footerDescription div{
  margin-right: 5%;
}

.addressContainer{
  padding: 2% 8%;
  color: #233750;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerList p{
  margin: 8px 0px;
}

.socialIcons{
  padding: 2% 8% 1%;
  color: #233750;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.socialIcons svg{
  cursor: pointer;
}
.socialIcons p{
  font-size: 14px;
}

.productName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.productName p{
  margin: 0;
  font-size: .9rem;
  line-height: 1.2;
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mobileStore{
  font-size: 25px;
  padding: 4px 8px 11px;
  color:#10243E;
}
.socialLink1 div{
  margin-top: 10px; 
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .socialLink1{
    width: 100%;
    justify-content: center;
  }
  .socialLink1 p{
    margin: 3px;
    margin-top: 24px;
  }
  .socialLink1 div{
    margin-top: 20px;
  }
  .mobileStore{
    padding: 0px 8px;
  }
  .socialLink2{
    width: 100%;
    justify-content: center;
  }
  .socialLink3{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .socialLink3 p{
    margin: 3px;
  }
}

@media screen and (max-width: 715px){
  .mobilelogo{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .footerDescription{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .footerDescription h1{
    font-size: 30px;
  }
  .footerDescription .store{
    justify-content: center;
  }
}
.moveTotop{
  margin-top: -4vh;
  z-index: 1;
  position: relative;
  text-align: center;
}